<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!--<section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />-->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <connectionStrings>
    <!--<add name="OptionsDB" connectionString="Data Source=omnidev;Initial Catalog=options;Integrated Security=True;Timeout=180;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="NServiceBus/Persistence" connectionString="Data Source=omnidev;Initial Catalog=OptionsNServiceBusPersistence;Integrated Security=True;Timeout=180;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <!--<appSettings>
    <add key="NServiceBus/Persistence/NHibernate/dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
    <add key="NServiceBus/Persistence/NHibernate/connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
    <add key="NServiceBus/Persistence/NHibernate/connection.driver_class" value="NHibernate.Driver.Sql2008ClientDriver" />
    <add key="nhibernate-logger" value="Moneycorp.Options.Infrastructure.Logging.NLogFactory, Moneycorp.Options.Infrastructure" />
  </appSettings>-->


  <!--<TransportConfig MaximumConcurrencyLevel="1" MaxRetries="0" MaximumMessageThroughputPerSecond="10" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="SachaBarber.CQRS.Demo.Orders.Domain.error" />-->

  <!-- If you want a remote machine endpoint for messages, use syntax like Endpoint="SachaBarber.CQRS.Demo.XXXX@C1951" -->
  <!--<UnicastBusConfig ForwardReceivedMessagesTo="audit">
    <MessageEndpointMappings>
      
      <add Assembly="Moneycorp.Options.Messages" Type="SachaBarber.CQRS.Demo.Messages.Commands.ClearCacheCommand" Endpoint="SachaBarber.CQRS.Demo.XXXX" />
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <Logging Threshold="ALL" />-->

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="file" xsi:type="File" layout="${longdate} | ${level} | ${message} | ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" 
              fileName="c:/temp/SachaBarber.CQRS.Demo.Orders.Domain-${shortdate}.log" 
              archiveFileName="c:/temp/SachaBarber.CQRS.Demo.Orders.Domain-${shortdate}.{#}.log" 
              archiveEvery="Day" 
              archiveNumbering="Rolling" 
              maxArchiveFiles="7" 
              concurrentWrites="true" />                  
    </targets>
    <rules>

      <!--<logger name="NServiceBus*" minlevel="Error" writeTo="file" />-->
      <!--<logger name="SachaBarber.CQRS.Demo.Orders.Domain*" minlevel="Debug" writeTo="file" />-->
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>




  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="serviceLayerTcpBinding" maxReceivedMessageSize="2147483647" closeTimeout="00:59:00" openTimeout="00:59:00" receiveTimeout="00:59:00" sendTimeout="00:59:00">
          <security mode="None" />
          <readerQuotas maxStringContentLength="8192" maxArrayLength="20971520" />
        </binding>
      </netTcpBinding>
    </bindings>

    <extensions>
      <behaviorExtensions>
        <add name="ErrorHandlerBehavior" type="SachaBarber.CQRS.Demo.SharedCore.WCF.ErrorHandlerBehaviorExtension, SachaBarber.CQRS.Demo.SharedCore" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceLayerBehavior">
          <serviceThrottling maxConcurrentCalls="64" maxConcurrentSessions="128" maxConcurrentInstances="64" />
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <ErrorHandlerBehavior />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="ErrorHandlerBehavior">
          <ErrorHandlerBehavior />
        </behavior>
      </endpointBehaviors>

    </behaviors>
    <services>
      <service behaviorConfiguration="serviceLayerBehavior" name="SachaBarber.CQRS.Demo.Orders.Domain.OrderService">
        <endpoint address="net.tcp://localhost:63105/OrderService" binding="netTcpBinding" bindingConfiguration="serviceLayerTcpBinding" 
                  name="orderServiceEndpoint" contract="SachaBarber.CQRS.Demo.Orders.IOrderService" />
      </service>
      


    </services>

   



  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="All" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\SachaBarber.CQRS.Demo.Orders.Domain.Host.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
